<p style="float:left;margin-right:10px;margin-top: 0px;">
  <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186175_687526713_5618334_n.jpg" style="height: 187px;width:125px"> 
</p>

<p>
  <h4 id="keith">Keith Hanson</h4>
  <h5>Co-Founder</h5>
  <p>My co-founder likes to call me a bull in a china shop.</p>
  <p>I started programming when I was 12, held my first programming job at 16, and started my first company with employees when I was 25. I love all things Ruby, and have a love/hate relationship with Objective-C.</p>
</p>

<span style="clear:both" />
