<p style="float:left;margin-right:10px;margin-top: 0px;">
  <img src="http://a2.sphotos.ak.fbcdn.net/hphotos-ak-snc6/184908_1740053013720_1010494488_31935885_6850261_n.jpg" style="width:125px"> 
</p>

<p>
  <h4 id="mike">Mike Mayo</h4>
  <h5>Lead Engineer</h5>
  <p>Ruby/Rails/iOS developer and Cycling Enthusiast</p>
  <p>I've been developing software professionally since 2004, and I started working with Ruby/Rails in 2007. I'm now trying to focus on expanding my language exposure and beef up on the fundamentals of web development and object oriented programming.</p>
</p>

<span style="clear:both" />
